@import 'Modules/App/Variables.sass'

.sidebar
  position: fixed
  left: 0
  top: 0
  border-right: 2px solid $gray-light
  height: 100vh
  width: $sidebar-width
  background: $gray-dark
  z-index: 100

  transition: left 400ms ease-in-out

  &__header
    background: $white
    padding: 1rem

    h3
      margin: 0
      padding-top: 10px

    p
      margin: 0

    .external-link-text
      padding-left: 10px

  nav
    bottom: 0
    ul
      margin: 0
      padding: 0
      li
        list-style: none
        a
          padding: 1.5rem 2rem 0 2rem
          text-decoration: none
          width: calc(100% - 4rem)
          display: block
          color: $white

          svg:first-child
            padding-right: 10px

          svg:last-child
            float: right

          &:hover
          &.active
            color: $blue

@media (max-width: $break-small)
  .sidebar
    left: -$sidebar-width
    margin-top: 50px

    &.active
      left: 0
