@import 'Modules/App/Variables.sass'

.content
  padding: 2rem
  margin-left: $sidebar-width

  transition: margin 400ms ease-in-out

  h1
    margin: 1.5rem 0

  @media (max-width: $break-small)
    margin-left: 0
    margin-top: 50px
