@import 'Modules/App/Variables.sass'

.table
  width: 100%
  margin: 0
  font-family: 'Nunito', sans-serif
  padding-bottom: 1.5rem

.row
  display: table-row
  background: $white

.row.header
  color: $white
  background: $blue

  tr
    display: contents

    th
      text-align: left

@media screen and (max-width: 768px)
  .row
    display: block

  .row.header
    padding: 0
    height: 0px

  .row.header .cell
    display: none

  .row .cell:before
    font-size: 12px
    color: #808080
    line-height: 1.2
    text-transform: uppercase
    font-weight: unset !important

    margin-bottom: 13px
    content: attr(data-title)
    min-width: 98px
    display: block

.cell
  display: table-cell
  padding-left: 2rem

@media screen and (max-width: 768px)
  .cell
    display: block

.row .cell
  font-size: 15px
  color: #666666
  line-height: 1.2
  font-weight: unset !important

  padding-top: 20px
  padding-bottom: 20px
  border-bottom: 1px solid #f2f2f2

.row.header .cell
  font-size: 18px
  color: #fff
  line-height: 1.2
  font-weight: unset !important
  padding: 19px 2rem

.table, .row
  width: 100% !important

.row:hover
  background-color: $gray-light
  cursor: pointer
  color: $white

  .cell
    color: $white

@media (max-width: $break-small)
  .row
    border-bottom: 1px solid $gray-light
    padding-bottom: 18px
    padding-top: 30px
    padding-right: 15px
    margin: 0

  .row .cell
    border: none
    padding-left: 30px
    padding-top: 16px
    padding-bottom: 16px

  .row .cell:nth-child(1)
    padding-left: 30px

  .row .cell
    font-size: 18px
    color: #555555
    line-height: 1.2
    font-weight: unset !important

  .table, .row, .cell
    width: 100% !important

.pagination-wrapper
  display: flex
  justify-content: center
