@import 'Modules/App/Variables.sass'

.top-header-mobile
  background: #EFEFEF
  box-sizing: border-box
  position: fixed
  margin-top: -50px
  height: 50px
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 2rem
  border-bottom: 2px solid $gray-light
  overflow: hidden
  width: 100%
  z-index: 80

  transition: margin-top 400ms ease-in-out

  .title
    display: flex
    align-items: center

    .logo
      width: 40px

  @media (max-width: $break-small)
    margin-top: 0
