@import 'Modules/App/Variables.sass'

.burger
  width: 40px
  height: 32px
  position: relative
  cursor: pointer
  z-index: 200
  display: none

  span
    display: block
    position: absolute
    height: 6px
    width: 100%
    background: $gray-dark
    border-radius: 100px
    opacity: 1
    left: 0

    transition: all 400ms ease-in-out

    &:nth-child(1)
      top: 0px

    &:nth-child(2)
      top: 12px

    &:nth-child(3)
      top: 24px

  &.open
    span
      &:nth-child(1)
        top: 12px
        transform: rotate(45deg)

      &:nth-child(2)
        opacity: 0

      &:nth-child(3)
        top: 12px
        transform: rotate(-45deg)


  @media (max-width: $break-small)
    display: block
